*{
    background:rgb(196, 172, 13);
}
h1{
    color:brown;
}
p1{
    font-weight:bolder;
    background:-webkit-gradient(rgb(204, 51, 64));
    

}
p2{
    font-weight:bolder;
}
img{
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-left-radius:0px ;
    margin:50px;
    
}
h2{
    color:brown;
}